/* 2014 (c) Izyum Web System www.izyum.name 03.09.14 13:11*/

#header .div4 {
   position: absolute;
   top: 3px;
   right: 500px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #FFF;
   text-align: right;
   padding: 16px 0px 0px 0px;
   width: 250px;
}

#header .div4 .slinks {
   color: #FFFFFF;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   text-align: right;
   padding: 15px 0px 0px 0px;

}

.b-popup{
   display: none;
   clear: both;
   position: relative;
   top: 2px;
   margin:5px 2px 5px 2px;
   width:330px;
   padding:10px;
   background-color: #E1E1E1;
   border-radius:5px;
   box-shadow: 0px 0px 10px #000;
   min-height: 100px;
   z-index: 100;
}

.b-popup #iwsmodule table  {
   border-collapse: collapse; 
}

.b-popup .todolist td {
   /*border-bottom: 1px solid #B6B5B5;*/
   padding: 0px;
   width: 100%;
   text-align: left;
   /*line-height: 2px*/
   border-collapse: collapse; 

}

#menu > ul.right li li a {
   display: inline;
   color: #FFFFFF;
}
.on {
   color: #8B8989;
   background-color:#009D69;
   border-radius:5px 5px;
}
#counter {
   background-color: #FF0000;
   padding: 1px 4px;
   cursor: pointer;

}
.b-popup .iwsbutton {
   display: inline-block;
   white-space: nowrap;
   background-color: #ccc;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
   background-image: -webkit-linear-gradient(top, #eee, #ccc);
   background-image: -moz-linear-gradient(top, #eee, #ccc);
   background-image: -ms-linear-gradient(top, #eee, #ccc);
   background-image: -o-linear-gradient(top, #eee, #ccc);
   background-image: linear-gradient(top, #eee, #ccc);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
   border: 1px solid #777;
   padding: 0 1.5em;
   margin: 0.5em;
   font: bold 1em/2em Arial, Helvetica;
   text-decoration: none;
   color: #333;
   text-shadow: 0 1px 0 rgba(255,255,255,.8);
   -moz-border-radius: .2em;
   -webkit-border-radius: .2em;
   border-radius: .2em;
   -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
   -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
   box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.b-popup .iwsbutton:hover
{
   background-color: #ddd;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
   background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
   background-image: -moz-linear-gradient(top, #fafafa, #ddd);
   background-image: -ms-linear-gradient(top, #fafafa, #ddd);
   background-image: -o-linear-gradient(top, #fafafa, #ddd);
   background-image: linear-gradient(top, #fafafa, #ddd);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
   cursor: pointer;
}

.b-popup .iwsbutton:active
{
   -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
   -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
   box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
   position: relative;
   top: 1px;
}
.timeleft {
   background-color: #BE3016;
   padding: 2px 4px 2px 4px;
   text-align: right;
   cursor: pointer;
   color: #FFF;
   font-size: 12px;
   font-weight: bold;
}


/* 2014 (c) Izyum Web System www.izyum.name 03.09.14 13:11*/

#header .div4 {
   position: absolute;
   top: 3px;
   right: 500px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #FFF;
   text-align: right;
   padding: 16px 0px 0px 0px;
   width: 250px;
}

#header .div4 .slinks {
   color: #FFFFFF;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   text-align: right;
   padding: 15px 0px 0px 0px;

}

.b-popup{
   display: none;
   clear: both;
   position: relative;
   top: 2px;
   margin:5px 2px 5px 2px;
   width:330px;
   padding:10px;
   background-color: #E1E1E1;
   border-radius:5px;
   box-shadow: 0px 0px 10px #000;
   min-height: 100px;
   z-index: 100;
}

.b-popup #iwsmodule table  {
   border-collapse: collapse; 
}

.b-popup .todolist td {
   /*border-bottom: 1px solid #B6B5B5;*/
   padding: 0px;
   width: 100%;
   text-align: left;
   /*line-height: 2px*/
   border-collapse: collapse; 

}

#menu > ul.right li li a {
   display: inline;
   color: #FFFFFF;
}
.on {
   color: #8B8989;
   background-color:#009D69;
   border-radius:5px 5px;
}
#counter {
   background-color: #FF0000;
   padding: 1px 4px;
   cursor: pointer;

}
.b-popup .iwsbutton {
   display: inline-block;
   white-space: nowrap;
   background-color: #ccc;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
   background-image: -webkit-linear-gradient(top, #eee, #ccc);
   background-image: -moz-linear-gradient(top, #eee, #ccc);
   background-image: -ms-linear-gradient(top, #eee, #ccc);
   background-image: -o-linear-gradient(top, #eee, #ccc);
   background-image: linear-gradient(top, #eee, #ccc);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
   border: 1px solid #777;
   padding: 0 1.5em;
   margin: 0.5em;
   font: bold 1em/2em Arial, Helvetica;
   text-decoration: none;
   color: #333;
   text-shadow: 0 1px 0 rgba(255,255,255,.8);
   -moz-border-radius: .2em;
   -webkit-border-radius: .2em;
   border-radius: .2em;
   -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
   -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
   box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.b-popup .iwsbutton:hover
{
   background-color: #ddd;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
   background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
   background-image: -moz-linear-gradient(top, #fafafa, #ddd);
   background-image: -ms-linear-gradient(top, #fafafa, #ddd);
   background-image: -o-linear-gradient(top, #fafafa, #ddd);
   background-image: linear-gradient(top, #fafafa, #ddd);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
   cursor: pointer;
}

.b-popup .iwsbutton:active
{
   -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
   -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
   box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
   position: relative;
   top: 1px;
}
.timeleft {
   background-color: #BE3016;
   padding: 2px 4px 2px 4px;
   text-align: right;
   cursor: pointer;
   color: #FFF;
   font-size: 12px;
   font-weight: bold;
}


