<?php if( isset($widget_name)){
?>
<h3><span class="menu-title"><?php echo $widget_name;?></span></h3>
<?php
}?>
<div class="widget-html">
	<div class="widget-inner">
    123123
		<?php echo $html; ?>
	</div>
</div>