/* Breadcrumb fix */
.breadcrumb {margin: 20px 0px;}
.breadcrumb li:last-child a {color: #1E91CF;}

span[data-toggle="tooltip"]:after, label.control-label span:after {
	font-family: FontAwesome;
	color: #1E91CF;
	content: "\f059";
	margin-left: 4px;
}

.input-group input[type="checkbox"]{vertical-align: bottom;}
.input-group label{margin-bottom: 0px;}

.tooltip-arrow, .tooltip-inner {text-align: left;}