#color_options{margin: 5px 0;}
#color_options .color_option{display: inline-block;padding: 0 5px 0 0;line-height: 22px;}
#color_options .color_option.disabled{opacity:.4}
#color_options .color_option.active{border-radius: 15px;border: 1px solid #fff;}
#color_options .color_option a{text-decoration: none;color: #000;}
#color_options .color_option .color_block{width: 20px;height: 20px;border-radius: 20px;float: left;box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);border: 1px solid #fff;}
#color_options .color_option .color_name{margin-left: 25px;}
#color_options .color_option.img,#color_options .color_option.photos{border:none !important;text-align:center;}
#color_options .color_option.img .color_name {margin: 0;}
#popupColorKits .disabled .name a {color: #B9B9B9;}