.center { 
	text-align:center
}
.center > input[type="text"] {
	width: 350px;
	display: inline-block;
	text-align:center;
}
.center > textarea {
	width: 350px;
	display: inline-block;
	text-align:left;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 122px;
}
.has-feedback label~.form-control-feedback {
    top: 38px;
}
.notify {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background: url('../icons/button.png') repeat-x;
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
}